@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
 */
/* @import url("../fonts/Lato-Regular.ttf");
 */
/* line 10, ../sass/screen.scss */
body {
  font-family: Lato;
}

/* line 17, ../sass/screen.scss */
.about__body {
  max-width: 823px;
  margin: 0 auto;
}
/* line 22, ../sass/screen.scss */
.about__header {
  margin: 0px 0px 65px 0px;
}
/* line 27, ../sass/screen.scss */
.about__title {
  margin: 0px 0px 30px 0px;
}
/* line 31, ../sass/screen.scss */
.about__text {
  min-width: 688px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 26px;
  margin: 0 auto;
}
/* line 41, ../sass/screen.scss */
.about__row {
  display: flex;
  font-size: 0;
  margin: 0 -15px;
}
/* line 47, ../sass/screen.scss */
.about__column {
  flex: 0 0 33.333%;
}

/* line 51, ../sass/screen.scss */
.title {
  /* не даем никаких отступов для БЛОКА title, но
  даем отступы для ЭЛЕМЕНТА title блока about*/
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
  text-align: center;
  padding-bottom: 15px;
}
/* line 61, ../sass/screen.scss */
.title:after {
  content: '';
  position: absolute;
  width: 60px;
  bottom: 0;
  height: 2px;
  left: 50%;
  background-color: #000;
  margin: 0px 0px 0px -30px;
}

/* line 74, ../sass/screen.scss */
.item-about__icon {
  margin: 0px auto;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  border: 2px solid #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}
/* line 86, ../sass/screen.scss */
.item-about__title {
  text-align: center;
  color: #000;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 0px 0px 35px 0px;
}
/* line 95, ../sass/screen.scss */
.item-about__text {
  text-align: center;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 26px;
  padding: 0 20px;
}

/* line 5, ../../../../../../../Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
